a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

span:target {
  background-color: #ffff99;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption {
  margin-top: 1em;
  color: #6a6a6a;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation > .next {
  text-align: right;
}

.home-flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.home-header {
  min-width: 300px;
  max-width: 100%;
  display:block;
  flex: 0 1 40%;
  margin-left: auto;
  margin-right: auto;
}

.home-header-img {
  width: 90%;
  padding-left:1em;
  min-width: 250px
}

.home-content {
  flex: 1 1 50%;
}

figcaption > a {
  color: #4d6277;
}
